<!DOCTYPE html>
<!--
/*=========================================================================
* @author Derry Everson
*========================================================================*/
-->
<html lang="en" dir="ltr" ng-app="ccApp">
<head>
  <title>Character Creator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=8,IE=9">
  <meta http-equiv="PRAGMA" content="NO-CACHE">
  <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
  <link rel="shortcut icon" href="favicon.png" />

  <!-- CSS -->
  <link rel="stylesheet" href="css/bootstrap/4.2.1/bootstrap.min.css" />
  <link rel="stylesheet" href="css/fontawesome/4.7.0/all.css" />
  <link rel="stylesheet" href="css/cc.css">

  <!-- JS -->
  <script src="js/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/angularjs/1.7.8/angular.min.js"></script>
  <script src="js/popper/popper.min.js"></script>
  <script src="js/bootstrap/4.2.1/bootstrap.min.js"></script>
  <script src="js/primaryController.js"></script>
  <script src="js/diceService.js"></script>

</head>

<body ng-controller="ccCtrl">

  <!--==== Header ====-->
  <header>
    <!-- <h1>Character Creator</h1> -->
    <h1>CC</h1>
  </header>

  <!--==== START Book Selection ====-->
  <div ng-if="true">
    <div class="container">
      <div class="row">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Books</button>
            <ul class="dropdown-menu checkbookList">
              <li class="input-group" ng-repeat="book in books" ng-click="checkboxSwitch(book); checkboxTextUpdate(books);" data-toggle="tT" title="">
                <input type="text" class="form-control" value="{{book.name}} ({{book.source}})" readonly>
                <span class="input-group-addon largerCheckboxPadding">
                  <input type="checkbox" ng-model="book.status" ng-click="checkboxSwitchInline(book); checkboxTextUpdate(books);">
                </span>
              </li>
            </ul>
          </div> <!-- End of Input Group Prepend -->
          <input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="data.char.selectedBooks" readonly>
        </div> <!-- End of Input Group -->
      </div> <!-- End of Row -->
    </div> <!-- End of Container -->
  </div> <!-- End of NG-IF -->
  <!--==== END Book Selection ====-->

  <!--==== START Stat Rolls ====-->
  <div ng-if="true">
    <div class="container">
      <div class="row">
        <div class="input-group mb-5 mt-3">
          <div class="input-group-prepend" ng-init="statType='Roll 4d6k3';matrix=0">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{statType}}</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" ng-click="statType='Roll 4d6k3'; rollStats4d6k3()">Roll 4d6k3</a>
              <a class="dropdown-item" ng-click="statType='Roll 4d6k3r1'; rollStats4d6k3r1()">Roll 4d6k3r1</a>
              <a class="dropdown-item" ng-click="statType='Roll 3d6'; rollStats3d6()">Roll 3d6</a>
              <a class="dropdown-item" ng-click="statType='Roll 3d6r1'; rollStats3d6r1()">Roll 3d6r1</a>
              <a class="dropdown-item" ng-click="statType='Roll Matrix'; rollStatsMatrix()">Roll Matrix</a>
              <a class="dropdown-item" ng-click="statType='Array'; arrayStats()">Array</a>
              <a class="dropdown-item" ng-click="statType='Point Buy'; pbStats()">Point Buy</a>
            </div> <!-- End of Dropdown Menu -->
          </div> <!-- End of Input Group Prepend -->
          <div class="input-group-append" ng-if="true">
            <button type="button" class="btn btn-success" ng-click="rollStats4d6k3()" ng-if="statType=='Roll 4d6k3'">Roll</button>
            <button type="button" class="btn btn-success" ng-click="rollStats4d6k3r1()" ng-if="statType=='Roll 4d6k3r1'">Roll</button>
            <button type="button" class="btn btn-success" ng-click="rollStats3d6()" ng-if="statType=='Roll 3d6'">Roll</button>
            <button type="button" class="btn btn-success" ng-click="rollStats3d6r1()" ng-if="statType=='Roll 3d6r1'">Roll</button>
            <button type="button" class="btn btn-success" ng-click="rollStatsMatrix(); matrix=1" ng-if="statType=='Roll Matrix'">Roll</button>
          </div> <!-- End of Input Group Append -->
          <div class="rolledContainer" ng-repeat="stat in data.char.rolledStats track by $index" ng-if="statType!='Roll Matrix'">
            <span class="rolled" ng-class="{'color-green':stat>=16,'color-blue':stat>=10,'color-red':stat<=9}">{{stat}}</span><span class="rolledMod">{{updateMod(stat)}}</span>
          </div> <!-- End of Rolled Container -->
        </div> <!-- End of Input Group -->
      </div> <!-- End of Row -->
      <div ng-if="statType=='Roll Matrix'">
        <div class="row">
          <table class="table table-bordered rollMatrixTable">
            <tbody>
              <tr ng-repeat="col in data.char.rolledMatrixStats">
                <td class="rollMatrixTd" ng-repeat="row in col" ng-class="{'color-green':row[0]>=16,'color-blue':row[0]>=10,'color-red':row[0]<=9 && row[4]!=1 ,'color-success':row[4]==1}">{{row[0]}}</td>
              </tr>
            </tbody>
          </table>
        </div> <!-- End of Row -->
      </div> <!-- End of NG-IF -->
    </div> <!-- End of Container -->
  </div> <!-- End of NG-IF -->
  <!--==== END Stat Rolls ====-->

  <!--==== START Class and Level Selection ====-->
  <div ng-if="true">
    <div class="container">
      <div class="row  mt-5">
        <div ng-repeat="class in data.char.class track by $index" class="full mb-3" ng-init="classid = $index">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Class</button>
              <div class="dropdown-menu">
                <table class="table-sm table-striped table-hover">
                  <tbody  class="">
                    <tr ng-repeat="choice in classOptions" ng-click="loadClass(choice.path, class.level, classid); class.name=choice.name; updateClasses();" class="dropdown-item">
                      <td><strong>{{choice.name}}</strong></td>
                      <td>[{{choice.proficiency[0]}},{{choice.proficiency[1]}}]</td>
                      <td>{{choice.hd.number}}d{{choice.hd.faces}}</td>
                      <td>{{choice.spellcastingAbility}}</td>
                      <td>(<i>{{choice.source}}</i>)</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="class.name" readonly>
            <div class="input-group-append">
              <span class="input-group-text">Levels</span>
            </div>
            <input type="number" class="form-control" aria-label="" ng-model="class.level" ng-change="updateLevels()" min="1" required max="{{class.level+data.char.levelsRem}}">
            <button class="btn btn-danger btn-sm btnRemove" ng-click="removeIndexClass($index); updateLevels()" type="button"><span class="fas fa-minus"></span></button>
          </div>
        </div>
        <button class="btn btn-primary btn-sm" ng-click="addClass(); updateLevels(); updateClasses();" ng-if="true" type="button"><span class="fas fa-plus"></span> Add Multi-Class</button>
      </div> <!-- End of Row -->
    </div> <!-- End of Container -->
  </div> <!-- End of NG-IF -->
  <!--==== END Class and Level Selection ====-->

  <!--==== START Race Selection ====-->
  <div ng-if="true">
    <div class="container">
      <div class="row  mt-4">

        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Race</button>
            <div class="dropdown-menu">
              <table class="table-sm table-striped table-hover">
                <tbody  class="">
                  <tr ng-repeat="race in races | orderBy: 'name'" ng-click="data.char.race = race; updateRStats();" class="dropdown-item">
                    <td><strong>{{race.name}}</strong></td>
                    <td ng-repeat="(key, data) in race.ability[0]">
                      <span ng-if="key != 'choose'">[{{key}} +{{data}}]</span>
                      <span ng-if="key == 'choose'">[choose +{{data.count}}]</span>
                    </td>
                    <td ng-if="isNumber(race.speed)"> [walk: {{race.speed}}]</td>
                    <td ng-if="!isNumber(race.speed)"ng-repeat="(key2, data2) in race.speed">[{{key2}}: {{data2}}]</td>
                    <td ng-if="race.darkvision"> [DV: {{race.darkvision}}]</td>
                    <td><small>(<i>{{race.source}}: {{race.page}}</i>)</small></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="data.char.race.name" readonly>
        </div>

      </div> <!-- End of Row -->
    </div> <!-- End of Container -->
  </div> <!-- End of NG-IF -->
  <!--==== END Race Selection ====-->

  <!--==== START Attributes Selection ====-->
  <div ng-if="true">
    <div class="container">
      <div class="row  mt-4">

        <table class="table-sm table-striped table-hover tableAttributes">
          <thead>
            <tr>
              <th class="text-center"></th>
              <th class="text-right">Score</th>
              <th class="text-left"></th>
              <th class="text-center">Racial</th>
              <th class="text-center">Other</th>
              <th class="text-left"></th>
              <th class="text-center">Total</th>
              <th class="text-left">Mod</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, playerStat) in data.char.stats">
              <td class="text-center"><strong>{{key.toUpperCase()}}</strong></td>
              <td class="text-center">
                <div class="input-group" style="place-content: flex-end;">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-class="{'color-green':playerStat.sVal>=16,'color-blue':playerStat.sVal>=10,'color-red':playerStat.sVal<=9}"><strong>{{playerStat.sVal}}</strong></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" ng-repeat="rolledStat in data.char.rolledStats track by $index" ng-click="playerStat.sVal = rolledStat;" ng-class="{'color-green':rolledStat>=16,'color-blue':rolledStat>=10,'color-red':rolledStat<=9}">{{rolledStat}}</a>
                  </div> <!-- End of Dropdown Menu -->
                </div> <!-- End of Input Group -->
              </td>
              <td><span class="rolledModTable">{{updateMod(playerStat.sVal)}}</span></td>
              <td class="text-center"><strong>+{{playerStat.rVal}}</strong></td>
              <td class="text-center" width="10%">
                <div class="input-group">
                  <input type="number" class="form-control" aria-label="Text input with segmented dropdown button" ng-model="playerStat.oVal" >
                </div>
              </td>
              <td></td>
              <td class="text-center" ng-class="{'color-green':playerStat.sVal+playerStat.rVal+playerStat.oVal>=16,'color-blue':playerStat.sVal+playerStat.rVal+playerStat.oVal>=10,'color-red':playerStat.sVal+playerStat.rVal+playerStat.oVal<=9}"><strong>{{playerStat.sVal+playerStat.rVal+playerStat.oVal}}</strong></td>
              <td class="text-left"><span class="rolledModTable">{{updateMod(playerStat.sVal+playerStat.rVal+playerStat.oVal)}}</span></td>
            </tr>
          </tbody>
        </table>

      </div> <!-- End of Row -->
    </div> <!-- End of Container -->
  </div> <!-- End of NG-IF -->
  <!--==== END Attributes Selection ====-->

  <!--==== START Race Selection ====-->
  <div ng-if="true">
    <div class="container">
      <div class="row  mt-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Background</button>
            <div class="dropdown-menu">
              <table class="table-sm table-striped table-hover">
                <tbody  class="">
                  <tr ng-repeat="background in backgrounds | orderBy: 'name'" ng-click="data.char.background = background;" class="dropdown-item">
                    <td><strong>{{background.name}}</strong></td>
                    <td>{{background.entries[0].items[0].entry}}</td>

                    <td ng-if="background._copy">See: {{background._copy.name}}</td>
                    <!-- <td ng-repeat="(key, data) in race.ability[0]">
                      <span ng-if="key != 'choose'">[{{key}} +{{data}}]</span>
                      <span ng-if="key == 'choose'">[choose +{{data.count}}]</span>
                    </td>
                    <td ng-if="isNumber(race.speed)"> [walk: {{race.speed}}]</td>
                    <td ng-if="!isNumber(race.speed)"ng-repeat="(key2, data2) in race.speed">[{{key2}}: {{data2}}]</td> -->
                    <td><small>(<i>{{background.source}}: {{background.page}}</i>)</small></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="data.char.background.name" readonly>
        </div>

      </div> <!-- End of Row -->
    </div> <!-- End of Container -->
  </div> <!-- End of NG-IF -->
  <!--==== END Race Selection ====-->









</body>
</html>
